.container{
    display: flex;
    width: 100vw;
    height: 100vh;
   color: black;
   justify-content: space-between;
   overflow-x: scroll;
   
}
h1, h2{
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}
h1{
    margin-bottom: 15px;
}
div.product{
    width: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dotted navy;
    border-radius: 6px;
    box-sizing: border-box;
    justify-content: flex-start;
  
}
div img{
    margin: 10px;  
    overflow: auto;
    height: 40%;
}
button{
    display: block;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    margin: 0 auto;
}
p{
    margin: 0;
    text-indent: 20px;
    width: 100%;
}